/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;  
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}
/* my code */

* {
    margin: 0;
    padding: 0;

}
body {
    background: white
    ;
    
    
}
       nav {
        background-color:  #fad2cc;
        width: 100%;
        height: 100px; 
        position: fixed;
       }
       nav .Bible12 {
           float: left;
           line-height: 20px;
           font-size: 30px;
           padding: 40px 80px 40px;
           font-family:  'Alfa Slab One', cursive;
           color: black;
           
       }
       .Logo {
          position: absolute;
          left: 10px;
          padding-top: 20px;
          background-color: none;
          
       }
       
       

       nav .Begin{
           float: right
       }
     nav .Begin li {
         float: right;
         list-style: none;
         position: relative;
     }
     nav .Begin li a {
        display: block;
        font-family: Arial, Helvetica, sans-serif;
        color: black;
        padding: 45px 25px 25px;
        text-decoration: none;
    }
    nav .Begin li .manok {
        display: none;
        position: absolute;
       background-color: #fad2cc;
       
    }
    nav .Begin li:hover .manok {
        display: block;
    }
    nav .Begin li .manok li  {
        width: 120px;
    }
    nav .Begin li .manok li a {
        padding: 15px 14px;
    }
    nav .Begin li .manok li a:hover{
        color: cyan;
            
    }
    ul li a:hover{
        color: cyan;
    }

    .aaa{
        display: inline-block;
        width: 100%;
        height: 500px;
        padding-top: 70px;
        
    
    }
    .info h2 {
    padding: 30px 35px 30px;
    font-size: 50px;
    line-height: 30px;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 3px;
    text-align: center;
}
    
.content {
    width: 100%;
    min-height: 100%;
}

.info {
    width: 100%;

}

.info .early {
  padding-top: 20px ;
  font-family: 'Playfair Display', serif;
  font-size: 20px;
  line-height: 40px;
}
.info .Scripts {
    padding-top: 20px ;
    font-family: 'Playfair Display', serif;
    font-size: 20px;
    line-height: 40px;
    padding-bottom: 100px;
  }

.info .hVerse {
    padding: 70px 30px 30px;
    font-size: 60px;    
    line-height: 25px;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    
}

.First:hover{
    color: blue;
}
.info p {
    padding: 0px 30px 25px;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    
}

.footer {
    background: #fad2cc;
    position: relative;
    height: 110px;
    margin-top: -100px;
    clear: both;
    
   
}
#Partner {
    padding: 30px 180px 0px;
}
#Partners{
    padding: 0px 180px 0px;
    list-style: none;
    
    
    line-height: 25px;
    
}
#Sites {
    text-align: center;
}
#SiteL{
    padding: 0px 330px 0px;
    list-style: none;
    
    line-height: 25px;
    
}
 #Footers {
    text-align: center;
    color: black;
    
   padding-top: 0px;
} 
 #Logo1 {
    position: absolute;
    left: 20px;
    bottom: 0px;
}
